* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: white;
}

header {
    background-image: url(/images/starBG.jpg);
    height: 100%;
}

.main-container {
    width: 1440px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    max-width: 70px;
}

.logo img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    padding: 0 60px;
    background-color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    height: 80px;
}

.navbar ul li a {
    display: flex;
    text-decoration: none;
    padding: 0 50px;
    align-items: center;
    height: 100%;
    color: black;
    font-size: 1.2em;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: rgb(81, 170, 230);
    color: white;
}

.cta-button {
    background-color: rgb(81, 170, 230);;
    padding: 15px 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(81, 170, 230);
    box-shadow: 0 2px 10px rgb(81, 170, 230);
    transform: scale(1.05);
    cursor: pointer;
}

/* Navbar /////////////////////////////////////////////////////////////////////////////*/

/* Google Page /////////////////////////////////////////////////////////////////////////////*/

.googlepage {
    width: 200px;
    height: 200px;
    background-color: aqua;
}