* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: white;
    background-color: gray;
}

header {
    background-image: url(/images/starBG.jpg);
    height: 23.5rem;
    margin-bottom: 50px;
}

.main-container {
    width: 1440px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    /* border: 1px solid; */
}

/* Page Container /////////////////////////////////////////////////////////////////////////////*/


/* Navbar /////////////////////////////////////////////////////////////////////////////*/

.logo {
    max-width: 70px;
}

.logo img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    padding: 0 60px;
    background-color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    height: 80px;
}

.navbar ul li a {
    display: flex;
    text-decoration: none;
    padding: 0 50px;
    align-items: center;
    height: 100%;
    color: black;
    font-size: 1.2em;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background-color: rgb(81, 170, 230);
    color: white;
}

.cta-button {
    background-color: rgb(81, 170, 230);;
    padding: 15px 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(81, 170, 230);
    box-shadow: 0 2px 10px rgb(81, 170, 230);
    transform: scale(1.05);
    cursor: pointer;
}

/* Navbar /////////////////////////////////////////////////////////////////////////////*/


/* Google Page /////////////////////////////////////////////////////////////////////////////*/

#pagetitle {
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5em 0; 

    border: 1px solid;

}
.subnav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);


    /* border: 1px solid rgb(255, 0, 43); */
}

.subnav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    
    /* border: 1px solid green; */
}

.subnav ul a {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 5px 50px;
    transition: background-color 0.3s ease, color 0.2s ease;
    

    /* border: 1px solid green; */

}

.subnav ul a:hover {
    background-color: gray;
}

/* Sub Nav /////////////////////////////////////////////////////////////////////////////*/

/* Landing Page /////////////////////////////////////////////////////////////////////////////*/


.googlepage {
    flex-basis: 49%;
    

    border: 1px solid;
}

.googlepage img {
    width: 100%;
}

.gptext {
    padding: 30px;
    font-size: 1.5rem;
}
.gptext h1 {
    text-align: center;
    padding-bottom: 20px ;
}

/* Main Page /////////////////////////////////////////////////////////////////////////////*/




.benefits {
    width: 200px;
    height: 200px;
    border: 1px solid;
}